body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #2c2a2a; /* Vermelho */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff; /* Vermelho */
  }
  
  .menu {
    text-align: center;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .menu-item {
    flex-basis: 30%;
    background-color: #524f4c; /* Amarelo */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .menu-item h3 {
    margin-top: 10px;
    color: #222; /* Preto */
  }
  
  .menu-item p {
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    color: #222; /* Preto */
  }
  
  .menu-item button {
    margin-top: 10px;
    background-color: #222;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-item button:hover {
    background-color: #444;
  }

  footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #2c2a2a;
    color: white;
  }
  
  