body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('backgroud.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px #000;
  margin-bottom: 50px;
  text-align: center;
}

.btn {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-right: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
}